
/* Site Styling */
/* Colour variables */
:root {
    --white: #ffffff;
    --white-hover: #e5e3e3;
    --black: #000000;
    --light-blue: #3f679f;
    --light-blue-hover: #284165;
    --light-blue-gradient: #06093b;
}
body {
    height: 100vh;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.btn-primary {
    border: none;
    text-decoration: none;
    background-color: var(--light-blue);
}

.icon-primary {
    border: none;
    text-decoration: none;
    color: var(--light-blue);
}

.btn-primary:hover{
    background-color: var(--light-blue-hover);
}

.icon-primary:hover {
    color: var(--light-blue-hover);
}

a {
    text-decoration: none;
}

h1, h2 {
    color: var(--white);
    font-weight: 400;
    letter-spacing: 5px;
    font-style: normal;
    z-index: 1;
    position: relative;
}

/* Hero and Footer styling */
.search-banner {
    height: 30vh;
}

.hero-design {
    background: linear-gradient(var(--light-blue-gradient), var(--light-blue-hover));
    height: 65vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    overflow: visible;
    position: relative;
}

.footer-design {
    width: 100%;
    height: 10vh;
    overflow: visible;
    position: relative;
}

/* Result card styling */
.card-img-top {
    height: 66%;
}

.card-img-overlay .audio-player-button {
    position: relative;
    top: 33%
    
}

.result-card {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    height: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.country-card {
    background-color: var(--white);
}

.modal-sheet {
    min-height: 60vh;
}

/* Audio player styling */

.audio-player-button {
    background-color: var(--light-blue);
    color: var(--white);
    border-radius: 25px;
    border-width: 0 ;
}

.audio-player-button:hover {
    background-color: var(--light-blue-hover);
}

/* Modal Styling */
.modal-dialog {
    width: 50%;
}

.modal-content {
    padding: 10px;
}

/* Sorting button styling */
.category-buttons {
    height: 33vh;
}

.country-card {
    box-shadow: rgba(255, 255, 255, 0.1) -4px 9px 25px -6px;
    z-index: 1;
    position: relative;
}

/* Playback bar */
.playback-footer {
    position:fixed;
    bottom:0;
    width: 100vw;
    height: 15vh;
    background-color: rgba(255, 255, 255, 0.671);
    transition: all 0.5s ease-out;
}

#hide-playback, 
#show-playback {
    height: 50px;
    width: 50px;
}

.playback-footer-hidden {
    height: 7.5vh;
}

.temp-playback-bar {
    border: none;
    border-top: 3px #999;
    color: #999;
    background-color: #fff;
    height: 20px;
    margin: 20px 0;
}

@media (width <= 1250px) {
    .hero-design {
        height: 90vh;
    }
    
  }