
/* Site Styling */
body {
    height: 100vh;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.btn-primary {
    border: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    font-style: normal;
}

/* Background textures */
/* Patterns built using https://www.magicpattern.design/tools/css-backgrounds */
.result-card {
    background-color: #94c1ff;
    opacity: 1;
    background-image:  linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);
    background-size: 74px 130px;
    background-position: 0 0, 0 0, 37px 65px, 37px 65px, 0 0, 37px 65px;
}

.country-card {
    background-color: #94c1ff;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #000000, #94c1ff), repeating-radial-gradient(circle at center center, #000000, #000000, 37px, transparent 74px, transparent 37px);
    background-blend-mode: multiply;
}

.search-banner {
    background-color: #94c1ff;
    opacity: 1;
    background-image:  radial-gradient(#e5e5f78b 6px, transparent 6px), radial-gradient(#e5e5f78b 12px, #94c1ff 12px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
}

.search-section {
    background-color: #94c1ff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.modal-sheet {
    background-color: #94c1ff !important;
    min-height: 60vh;
}

/* Audio player styling */
.audio-player-button {
    background-color: none;
    border: none;
}

/* Modal Styling */
.modal-dialog {
    width: 50%;
}

.modal-content {
    padding: 10px;
}

/* Sorting button styling */
.category-buttons {
    height: 33vh;
}

.country-card {
    box-shadow: rgba(255, 255, 255, 0.1) -4px 9px 25px -6px;
}