
/* Site Styling */
/* Colour variables */
:root {
    --white: #ffffff;
    --light-blue: #3f679f;
    --light-blue-hover: #284165;
    /* --orange-light: #f7763195;
    --grey: rgb(103, 103, 103);
    --grey-light: rgba(0, 0, 0, 0.549);
    --grey-dark: rgba(0, 0, 0, 0.828); */
}
body {
    height: 100vh;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.btn-primary {
    border: none;
    text-decoration: none;
    background-color: var(--light-blue);
}

.icon-primary {
    border: none;
    text-decoration: none;
    color: var(--light-blue);
}

.btn-primary:hover{
    background-color: var(--light-blue-hover);
}

.icon-primary:hover {
    color: var(--light-blue-hover);
}

a {
    text-decoration: none;
}

h1, h2 {
    font-family: "Micro 5", sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    font-style: normal;
}

/* Background textures */
/* Patterns built using https://www.magicpattern.design/tools/css-backgrounds */
.result-card {
    background-color: var(--white);
}

.country-card {
    background-color: var(--white);
}

.search-banner {
    background-color: var(--white);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
}

.search-section {
    /* background-color: var(--light-blue); */
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px; */
}

.search-form p,
.search-form button {
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px; */
}

.modal-sheet {
    min-height: 60vh;
}

/* Audio player styling */

.audio-player-button {
    background-color: var(--light-blue);
    color: var(--white);
    width: 25%;
    border-radius: 25px;
    border-width: 0 ;
}

.audio-player-button:hover {
    background-color: var(--light-blue-hover);
}

/* Modal Styling */
.modal-dialog {
    width: 50%;
}

.modal-content {
    padding: 10px;
}

/* Sorting button styling */
.category-buttons {
    height: 33vh;
}

.country-card {
    box-shadow: rgba(255, 255, 255, 0.1) -4px 9px 25px -6px;
}

/* Playback bar */
.playback-footer {
    position:fixed;
    bottom:0;
    width: 100vw;
    height: 15vh;
    background-color: rgba(255, 255, 255, 0.671);
    transition: all 0.5s ease-out;
}

#hide-playback, 
#show-playback {
    height: 50px;
    width: 50px;
}

.playback-footer-hidden {
    height: 7.5vh;
}

.temp-playback-bar {
    border: none;
    border-top: 3px #999;
    color: #999;
    background-color: #fff;
    height: 20px;
    margin: 20px 0;
}