
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Micro+5&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <title>My Internet Radio</title>
</head>
<body class=" search-banner ">
    <a href="{% url 'index' %}" class="text-black"><h1><i class="bi bi-broadcast fs-3"></i>-----MyRadio-----<i class="bi bi-broadcast fs-3"></i></h1></a>


    <!-- Search Box -->
    <div class="container my-5 text-center search-section">
      <div class="position-relative p-5 text-center text-muted rounded-5 d-flex align-items-center justify-content-center">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary text-bg-dark"><i class="bi bi-search"></i> Search</button>
      </form>
      </div>
    </div>
        

    {% if searched or sorted %}
      {% if results %}
      <!-- Search Results -->
      <div class="modal-sheet position-static d-block bg-body-secondary p-4">
        <div class="container px-4 py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom">Results</h2>
            <!-- Display the response data here -->
            <!-- Layout core from Bootstrap features examples -->
            <!-- https://getbootstrap.com/docs/5.3/examples/features/ -->
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            {% for result in results %}
              <div class="col">
                <div class="result-card card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" id="search_result_card">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">

                    <!-- Station Title -->
                    <h3 class="mb-4 display-6 lh-1 fw-bold" id="{{ result.stationuuid }}station-name">{{ result.name|truncatechars:30 }}</h3>

                    <!-- Audio Player -->
                    <div id="audio-player-container">
                      <audio src="{{ result.url }}" id="{{ result.stationuuid }}audio">
                        Your browser does not support the audio element.
                      </audio>
                      <button id="{{ result.stationuuid }}play-icon" class="audio-player-button audio-play text-bg-dark"><i class="bi bi-play-fill fs-1"></i></button>
                      <button id="{{ result.stationuuid }}pause-icon" class="audio-player-button audio-pause text-bg-dark d-none"><i class="bi bi-pause-fill fs-1"></i></button>
                    </div>
                    
                    <!-- Station Logo -->
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        {% if result.favicon %}
                            <img src="{{ result.favicon }}" alt="radio station logo" width="32" height="32" class="rounded-circle border border-white">
                        {% else %}
                            <img src="https://cdn-icons-png.flaticon.com/512/7581/7581950.png" alt="default radio logo" width="32" height="32" class="rounded-circle border border-white">
                        {% endif %}
                            
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                        <small>{{ result.countrycode }}</small>
                      </li>
                      <li class="d-flex align-items-center">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                        <a href="{{ result.homepage }}" target="_blank"><small>Station link</small></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
          {% endfor %}

          <!-- Pagination -->
          <div class="pagination d-flex align-items-center justify-content-center m-auto pt-5">
            <span class="step-links">
                {% if results.has_previous %}
                    {% if searched %}
                    <a href="?page=1" class="d-inline nav-link">1</a>
                    <a href="?page={{ results.previous_page_number }}" class="d-inline nav-link fs-2"><i class="bi bi-arrow-left-circle"></i></a>
                    {% endif %}
                    {% if sorted %}
                    <a href="{{ request.get_full_path }}&page=1" class="d-inline nav-link">1</a>
                    <a href="{{ request.get_full_path }}&page={{ results.previous_page_number }}" class="d-inline nav-link fs-2"><i class="bi bi-arrow-left-circle"></i></a>
                    {% endif %}
                {% endif %}
        
                <span class="current">
                    {{ results.number }} of {{ results.paginator.num_pages }}
                </span>
        
                {% if results.has_next %}
                  {% if searched %}
                  <a href="?page={{ results.next_page_number }}" class="d-inline nav-link fs-2"><i class="bi bi-arrow-right-circle"></i></a>
                  <a href="?page={{ results.paginator.num_pages }}" class="d-inline nav-link">{{ results.paginator.num_pages }}</a>
                  {% endif %}
                  {% if sorted %}
                  <a href="{{ request.get_full_path }}&page={{ results.next_page_number }}" class="d-inline nav-link fs-2"><i class="bi bi-arrow-right-circle"></i></a>
                  <a href="{{ request.get_full_path }}&page={{ results.paginator.num_pages }}" class="d-inline nav-link">{{ results.paginator.num_pages }}</a>
                  {% endif %}
                {% endif %}
            </span>
          </div>
            </div>
        </div>
      </div>
      
      <!-- No Results -->
      {% else %}
      <div class="modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSheet">
        <div class="modal-dialog m-auto" role="document">
          <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
              <h2 class="modal-title fs-5">No results</h2>
            </div>
            <div class="modal-body py-0">
              <p>Unfortunately no results were found for your search, check your spelling and try again!</p>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}


    <!-- Countries -->
    <div class="modal-sheet position-static d-block bg-body-secondary">
      <div class="container px-4 py-5" id="custom-cards">
      <h2 class="pb-2 border-bottom">Countries</h2>
        <div class="row container-fluid h-100">
          <div class="col-12 col-sm-6 col-md-4 my-5 category-buttons">
            <a href="{% url 'index' %}?country=US">
              <div class="btn btn-primary text-bg-dark w-100 h-100 d-flex justify-content-center align-items-center country-card"><h3>USA</h3></div>
            </a>
          </div>
          <div class="col-12 col-sm-6 col-md-4 my-5 category-buttons">
            <a href="{% url 'index' %}?country=UK">
              <div class="btn btn-primary text-bg-dark w-100 h-100 d-flex justify-content-center align-items-center country-card"><h3>UK</h3></div>
            </a>
          </div>
          <div class="col-12 col-sm-6 col-md-4 my-5 category-buttons">
            <a href="{% url 'index' %}?country=IE">
              <div class="btn btn-primary text-bg-dark w-100 h-100 d-flex justify-content-center align-items-center country-card"><h3>Ireland</h3></div>
            </a>
          </div>
          <div class="col-12 col-sm-6 col-md-4 my-5 category-buttons">
            <a href="{% url 'index' %}?country=DE">
              <div class="btn btn-primary text-bg-dark w-100 h-100 d-flex justify-content-center align-items-center country-card"><h3>Germany</h3></div>
            </a>
          </div>
          <div class="col-12 col-sm-6 col-md-4 my-5 category-buttons">
            <a href="{% url 'index' %}?country=FR">
              <div class="btn btn-primary text-bg-dark w-100 h-100 d-flex justify-content-center align-items-center country-card"><h3>France</h3></div>
            </a>
          </div>
          <div class="col-12 col-sm-6 col-md-4 my-5 category-buttons">
            <a href="{% url 'index' %}?country=AU">
              <div class="btn btn-primary text-bg-dark w-100 h-100 d-flex justify-content-center align-items-center country-card"><h3>Australia</h3></div>
            </a>
          </div>
        </div>
    </div>
  </div>

<!-- Footer -->
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary">2024 EOSULL</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3 fs-3"><a class="text-body-secondary" target="_blank" href="https://github.com/eosull"><i class="bi bi-github"></i></a></li>
      <li class="ms-3 fs-3"><a class="text-body-secondary" target="_blank" href="https://www.linkedin.com/in/eoin-o-sullivan-ab262b180/"><i class="bi bi-linkedin"></i></a></li>
      <li class="ms-3 fs-3"><a class="text-body-secondary" target="_blank" href="https://www.eosull.xyz/"><i class="bi bi-hand-index-thumb"></i></a></li>
    </ul>
  </footer>
</div>

<div class="playback-footer d-none">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary"></span>
      <i class="bi bi-arrow-down-short fs-2 d-block" id="hide-playback"></i>
      <i class="bi bi-arrow-up-short fs-2 d-none" id="show-playback"></i>
      <div class="playback-bar-audio-player">
        <h3 class="station-title">Station Name</h3>
        <button id="playback-bar-play-icon" class="audio-player-button pb-bar-button audio-play text-bg-dark d-none"><i class="bi bi-play-fill fs-1"></i></button>
        <button id="playback-bar-pause-icon" class="audio-player-button pb-bar-button audio-pause text-bg-dark d-block"><i class="bi bi-pause-fill fs-1"></i></button>
      </div>
    </div>
</div>

</body>
<script src="{% static 'js/script.js' %}"></script>
</html>